[user]
	email = libing@wind-mobi.com
	name = libing
[color]
	ui = auto
[alias]
	st = status
	co = checkout
	ci = commit
	br = branch
[commit]
	template = /home/libing/.commit_temp
[core]
        editor = vim
[review "10.80.30.10:8084"]
	username = "gaoyuxia"
[review "10.80.30.251:8082"]
	username = "gaoyuxia"
